footer.footer(data-aos="fade" data-aos-delay="150")
	.footer__container
		a.footer__logo(href="/")
			include ../../images/sprites/svg/globochain_logo_dark_l.svg
		.footer__socials
			a.footer__social(href="" target="_blank")
				+svg('git_hub_white')
			a.footer__social(href="" target="_blank")
				+svg('twitter_white')
			a.footer__social(href="" target="_blank")
				+svg('medium_white')
		.footer__copy
			| made by
			a(href='https://roobinium.io' terget='_blank' rel='external nofollow') roobinium.io

