section.section.intro
	.section__container
		h1.intro__title.title.title--lg(data-aos="fade-left" data-aos-delay="200")
			| A truly decentralized blockchain#[br] with total security
		p.intro__description.text.text--xs(data-aos="fade-right" data-aos-delay="300")
			| Providing the best experience#[br.for-mobile] for users
		.intro__buttons
			div(data-aos="fade-up" data-aos-delay="400")
				a.intro__button.intro__button--1.link.link--lg(href="")
					| Get Started
			div(data-aos="fade-up" data-aos-delay="500")
				a.intro__button.intro__button--2.link.link--lg.link--white(href="https://globochain.org/GloboWP.pdf" target="_blank")
					| White Paper
