section.section.section--4
	.section__container.section__container--advantage
		.advantage
			.advantage__item.advantage__item--1
				.advantage__image.advantage__image--left(data-aos="fade-right" data-aos-delay="100")
					img(src="../images/jpg@2x/description_2@2x.jpg" alt="advantage-1")
				.advantage__content(data-aos="fade-left" data-aos-delay="100")
					.advantage__subtitle
						| technology
					.advantage__title.title.title--md
						| What is Globo?
					.advantage__description.text.text--md
						| Proprietary architecture, efficient algorithms and unparalleled cryptographic strength with a help of cosmic noise creates a unique and safe storage of all events
					a.advantage__link.link.link--md(href="")
						| More about blockchain

			.advantage__item.advantage__item--2
				.advantage__content(data-aos="fade-right" data-aos-delay="100")
					.advantage__subtitle.advantage__subtitle--2
						| FUNCTIONALITY
					.advantage__title.title.title--md
						| Distributed storage
					.advantage__description.advantage__description--2.text.text--md
						| A unique database stored in the blockchain itself and having 100% security
					.advantage__numbers
						.advantage__subitem.advantage__subitem--1
							.title.title--md.advantage__number.advantage__number--1
								| 2,773
							.advantage__text.advantage__number--1
								| Transactions per sec
						.advantage__subitem.advantage__subitem--2
							.title.title--md.advantage__number.advantage__number--2
								| 1,501
							.advantage__text.advantage__number--2
								| Validator nodes
				.advantage__image.advantage__image--right(data-aos="fade-left" data-aos-delay="100")
					img(src="../images/jpg@2x/description_1@2x.jpg" alt="advantage-2")
