section.section.section--5
	.validation
		.validation__title.title.title--md(data-aos="fade-up" data-aos-delay="100")
			| Become a validator
		.validation__description.text.text--md(data-aos="fade-up" data-aos-delay="200")
			| Help secure the network by running a validator node.
			br
			| Learn more about node running and  reward system here.
		div(data-aos="fade-up" data-aos-delay="300")
			a.validation__link.link.link--md(href="#")
				| Get started


