section#roadmap.section.section--7
	.section__container
		.roadmap
			.roadmap__path.for-desktop(data-aos="fade-up" data-aos-delay="100")
				+svg('roadmap_path')
			.roadmap__title.title.title--md(data-aos="fade-right" data-aos-delay="100")
				| Roadmap
			.roadmap__content
				div(data-aos="fade-up" data-aos-delay="150")
					.roadmap__item.roadmap__item--1
						.roadmap__year
							| 2017
						.title.title--md.roadmap__subtitle
							| Q1
						.roadmap__text
							| Sha1 module
							br
							| First smart-contract module on masterchain
							br
							| Token generator
							br
							| Explorer backend with transaction hashes
				div(data-aos="fade-up" data-aos-delay="200")
					.roadmap__item.roadmap__item--2
						.roadmap__year
							| 2018
						.title.title--md.roadmap__subtitle
							| Q2
						.roadmap__text
							| First interface module
							br
							| Authorization system
							br
							| Registration system
							br
							| Node connector
							br
							| Transactions hash checker
							br
							| Security module
				div(data-aos="fade-up" data-aos-delay="250")
					.roadmap__item.roadmap__item--3
						.roadmap__year
							| 2019
						.title.title--md.roadmap__subtitle
							| Q3
						.roadmap__text
							| Block reader module
							br
							| Block recorder module
							br
							| Sleep mode processing
							br
							| Server Intergration
							br
							| Assymetric encryption generator
							br
							| Symmetric encryption generator
							br
							| Exclusive signature module
							br
							| Multisignature module
				div(data-aos="fade-up" data-aos-delay="300")
					.roadmap__item.roadmap__item--4
						.roadmap__year
							| 2020
						.title.title--md.roadmap__subtitle
							| Q4
						.roadmap__text
							| Authorization system for windows
							br
							| Obejctive control module for smart contracts
							br
							| Private smart contracts module
							br
							| Dex module(toolkit launched)
							br
							| Dex module smart contract preparation
							br
							| Self-diagnosis module
							br
							| Clustering module
							br
							| Block explorer
				div(data-aos="fade-up" data-aos-delay="350")
					.roadmap__item.roadmap__item--5
						.roadmap__year
							| 2021
						.title.title--md.roadmap__subtitle
							| Q1
						.roadmap__text
							| Token generator smart contract
							br
							| APK modile application
							br
							| Decentralized storage module
							br
							| Linux server setup
							br
							| Server file reader
							br
							| Random number generator module
							|
				div(data-aos="fade-up" data-aos-delay="400")
					.roadmap__item.roadmap__item--6
						.roadmap__year
							| January
						.title.title--md.roadmap__subtitle
							| Q2
						.roadmap__text
							| Socket API module
							br
							| JSON API module
							|
				div(data-aos="fade-up" data-aos-delay="450")
					.roadmap__item.roadmap__item--7
						.roadmap__year
							| February
						.title.title--md.roadmap__subtitle
							| Q3
						.roadmap__text
							| Private testnet released
							br
							| Explorer backend released
							br
							| Token generator backend released
							br
							| Speed test
							br
							| Ethereum,Bitcoin,Litecoin bridges creation
							|
				div(data-aos="fade-up" data-aos-delay="500")
					.roadmap__item.roadmap__item--8
						.roadmap__year
							| March
						.title.title--md.roadmap__subtitle
							| Q4
						.roadmap__text
							| Decentralized storage finished
							br
							| Explorer backend test
							br
							| Token generator test
							br
							| Gamefi sector contracts creation
							br
							| Dex exchange contracts creation
							br
							| Wallet development
							br
							| Mobile test application backend
							br
							| Explorer backend release
							|
				div(data-aos="fade-up" data-aos-delay="550")
					.roadmap__item.roadmap__item--9
						.roadmap__year
							| April
						.title.title--md.roadmap__subtitle
							| Q1
						.roadmap__text
							| NFT contracts start
							br
							| Wallet frontend development
							br
							| Wallet connector
							br
							| Social media brending
							br
							| Explorer final frontend version release
							br
							| Public testnet preparation
							br
							| Full developer guide release
				div(data-aos="fade-up" data-aos-delay="600")
					.roadmap__item.roadmap__item--1
						.roadmap__year
							| May
						.title.title--md.roadmap__subtitle
							| Q2
						.roadmap__text
							| First public testnet launch
							br
							| Final wellet version for testnet
							br
							| NFT released for testnet
							br
							| Gamefi contracts released for testnet
							br
							| Verefied contacts tested
							br
							| Explorer final touches

				div(data-aos="fade-up" data-aos-delay="650")
					.roadmap__item.roadmap__item--2
						.roadmap__year
							| June
						.title.title--md.roadmap__subtitle
							| Q3
						.roadmap__text
							| Testnet active phase
							br
							| Final touches to token generator and NFT
							br
							| Dex contracts released to testnet
							br
							| NFT contracts released to testnet
							|
				.roadmap__item.roadmap__item--button(data-aos="fade-up" data-aos-delay="700")
					a.roadmap__link.link.link--md(href="")
						| Join us

