section.section.section--2
	.section__container.section__container--cards
		.cards
			.cards__item(data-aos="fade-right" data-aos-delay="100")
				.cards__image
					img(src="../images/jpg@2x/noises_1@2x.jpg" alt="img-1")
				.cards__footer
					.cards__title.title.title--xs
						| Staking
					.cards__text.text.text--xxs
						| Locked Staking is the process of holding funds in a cryptocurrency wallet to support the operations of a blockchain network
			.cards__item(data-aos="fade-left" data-aos-delay="200")
				.cards__image
					img(src="../images/jpg@2x/noises_2@2x.jpg" alt="img-2")
				.cards__footer
					.cards__title.title.title--xs
						| Bridge
					.cards__text.text.text--xxs
						| Any device connected to the network with our blockchain application installed on it. Use all the functions of the blockchain without restrictions
			.cards__item(data-aos="fade-right" data-aos-delay="300")
				.cards__image
					img(src="../images/jpg@2x/noises_3@2x.jpg" alt="img-3")
				.cards__footer
					.cards__title.title.title--xs
						| NFT
					.cards__text.text.text--xxs
						| NFT or non-fungible token is a unique and completely inimitable record of some information in the blockchain in the form of a token
			.cards__item(data-aos="fade-left" data-aos-delay="400")
				.cards__image
					img(src="../images/jpg@2x/noises_4@2x.jpg" alt="img-4")
				.cards__footer
					.cards__title.title.title--xs
						| OTC
					.cards__text.text.text--xxs
						| It's time to put the blockchain in action and get the most out of the real benefits of RockBlock’s decentralized financial ecosystem
		.banner(data-aos="fade-up" data-aos-delay="100")
			.banner__title.title.title--md.title--white
				| Relict noises
			.banner__text.text.text--md.text--white
				| As a result of the study of relict noise, the fastest technologies were developed that allow turning from 300,000 transactions at a time
			a.banner__link.link.link--md.link--white(href="")
				| Find out how it works
				+svg('arrow-right')
	.section__container.section__container--banner(data-aos="fade" data-aos-delay="100")
		.image
			img(src="../images/png@2x/text_image@2x.png" alt="text")
