section.section.section--6
	.section__container.section__container--charts
		.chart
			.chart__left
				.chart__title.title.title--md(data-aos="fade-right" data-aos-delay="100")
					| Tokenomics
				.chart__description.text.text--md(data-aos="fade-up" data-aos-delay="150")
					| Explore a new world of decentralized opportunities. Trade on the stock exchange, communicate in a secret chat
				div(data-aos="fade-up" data-aos-delay="200")
					a.chart__link.link.link--md(href="" )
						| Learn more
			.chart__center(data-aos="fade" data-aos-delay="300")
				+svg('chart')
			.chart__right(data-aos="fade-left" data-aos-delay="400")
				.chart__col.chart__col--1
					.chart__item
						.chart__square.chart__square--1
						.chart__content
							.chart__subtitle
								| Reserve
							.chart__subtext
								| 35%
					.chart__item
						.chart__square.chart__square--2
						.chart__content
							.chart__subtitle
								| Staking
							.chart__subtext
								| 10%
					.chart__item
						.chart__square.chart__square--3
						.chart__content
							.chart__subtitle
								| Seed round
							.chart__subtext
								| 5%
				.chart__col
					.chart__item
						.chart__square.chart__square--4
						.chart__content
							.chart__subtitle
								| Private sale
							.chart__subtext
								| 15%
					.chart__item
						.chart__square.chart__square--5
						.chart__content
							.chart__subtitle
								| Public
							.chart__subtext
								| 18%
					.chart__item
						.chart__square.chart__square--6
						.chart__content
							.chart__subtitle
								| Team
							.chart__subtext
								| 17%
