section.section.section--2
	.section__container.section__container--cards
		.cards
			.cards__item(data-aos="fade-right" data-aos-delay="100")
				.cards__image
					img(src="../images/jpg@2x/noises_1@2x.jpg" alt="img-1")
				.cards__footer
					.cards__title.title.title--xs
						| Cosmic radiation
					.cards__text.text.text--xxs
						| white noise of cosmic radiation is an inexhaustible source of truly random numbers and a guarantee of resistance from quantum computers.
			.cards__item(data-aos="fade-left" data-aos-delay="200")
				.cards__image
					img(src="../images/jpg@2x/noises_2@2x.jpg" alt="img-2")
				.cards__footer
					.cards__title.title.title--xs
						| Distributed storage
					.cards__text.text.text--xxs
						| Allows to eliminate data loss with a minimum number of backups
			.cards__item(data-aos="fade-right" data-aos-delay="300")
				.cards__image
					img(src="../images/jpg@2x/noises_3@2x.jpg" alt="img-3")
				.cards__footer
					.cards__title.title.title--xs
						| Dynamic switching
					.cards__text.text.text--xxs
						| a self-learning network of artificial intelligence elements that are looking for the shortest paths of interaction
			.cards__item(data-aos="fade-left" data-aos-delay="400")
				.cards__image
					img(src="../images/jpg@2x/noises_4@2x.jpg" alt="img-4")
				.cards__footer
					.cards__title.title.title--xs
						| Time synchronization
					.cards__text.text.text--xxs
						| due to the satellite it will be possible to synchronize the time on all computers connected to the blockchain
		.banner(data-aos="fade-up" data-aos-delay="100")
			.banner__text.text.text--md.text--white
				| Any language can be used for smart contracts creation and Dapps development
			a.banner__link.link.link--md.link--white(href="")
				| Find out how it works
				+svg('arrow-right')
	.section__container.section__container--banner(data-aos="fade" data-aos-delay="100")
		.image.for-desktop
			img(src="../images/png@2x/text_light_desktop@2x.png" alt="text")
			img(src="../images/png@2x/text_dark_desktop@2x.png" alt="text")
		.image.for-mobile
			img(src="../images/png@2x/text_light_mobile@3x.png" alt="text")
			img(src="../images/png@2x/text_dark_mobile@3x.png" alt="text")
