section.section.section--3
	.marquee(data-aos="fade" data-aos-delay="100")
		.marquee__inner.marquee__inner--1
			.marquee__item.marquee__item--1
				| Private#[br] chat
			.marquee__item.marquee__item--2
				|Management#[br] of nodes
			.marquee__item.marquee__item--3
				| Explorer
			.marquee__item.marquee__item--4
				| Generation of#[br] tokens
			.marquee__item.marquee__item--5
				| Update#[br] resource
			.marquee__item.marquee__item--6
				| API#[br] Initialization

		.marquee__inner.marquee__inner--2
			.marquee__item.marquee__item--1
				| Private#[br] chat
			.marquee__item.marquee__item--2
				| Management#[br] of nodes
			.marquee__item.marquee__item--3
				| Explorer
			.marquee__item.marquee__item--4
				| Generation of#[br] tokens
			.marquee__item.marquee__item--5
				| Update#[br] resource
			.marquee__item.marquee__item--6
				| API#[br] Initialization
		.marquee__inner.marquee__inner--1.for-mobile
			.marquee__item.marquee__item--1
				| Private#[br] chat
			.marquee__item.marquee__item--2
				| Management#[br] of nodes
			.marquee__item.marquee__item--3
				| Explorer
			.marquee__item.marquee__item--4
				| Generation of#[br] tokens
			.marquee__item.marquee__item--5
				| Update#[br] resource
			.marquee__item.marquee__item--6
				| API#[br] Initialization

		.marquee__inner.marquee__inner--2.for-mobile
			.marquee__item.marquee__item--1
				| Private#[br] chat
			.marquee__item.marquee__item--2
				| Management#[br] of nodes
			.marquee__item.marquee__item--3
				| Explorer
			.marquee__item.marquee__item--4
				| Generation of#[br] tokens
			.marquee__item.marquee__item--5
				| Update#[br] resource
			.marquee__item.marquee__item--6
				| API#[br] Initialization
