section#roadmap.section.section--7
	.section__container
		.roadmap
			.roadmap__path.for-desktop(data-aos="fade-up" data-aos-delay="100")
				+svg('roadmap_path')
			.roadmap__title.title.title--md(data-aos="fade-right" data-aos-delay="100")
				| Roadmap
			.roadmap__content
				div(data-aos="fade-up" data-aos-delay="150")
					.roadmap__item.roadmap__item--1
						.roadmap__year
							| 2021
						.title.title--md.roadmap__subtitle
							| Q1
						.roadmap__text
							| At the end of 2020, our partners will launch a service to deposit and resell intellectual property rights
				div(data-aos="fade-up" data-aos-delay="200")
					.roadmap__item.roadmap__item--2
						.roadmap__year
							| 2021
						.title.title--md.roadmap__subtitle
							| Q2
						.roadmap__text
							| At the end of 2020, the team plans to release an update for the platform, enabling sidechains to run on the new consensus algorithm — CFT (Crash Fault Tolerant). We will tell more about this algorithm and its specifics after the release.
				div(data-aos="fade-up" data-aos-delay="250")
					.roadmap__item.roadmap__item--3
						.roadmap__year
							| 2021
						.title.title--md.roadmap__subtitle
							| Q3
						.roadmap__text
							span
								| •
							|    Sharding beta version
							br
							span
								| •
							|    Performance optimization
				div(data-aos="fade-up" data-aos-delay="300")
					.roadmap__item.roadmap__item--4
						.roadmap__year
							| 2021
						.title.title--md.roadmap__subtitle
							| Q4
						.roadmap__text
							span
								| •
							| Sharding 1.0
							br
							span
								| •
							|    Interoperability
							br
							span
								| •
							|    Smart contract SDK
				.roadmap__item.roadmap__item--hide.for-desktop
				div(data-aos="fade-up" data-aos-delay="350")
					.roadmap__item.roadmap__item--5
						.roadmap__year
							| 2022
						.title.title--md.roadmap__subtitle
							| Q3
						.roadmap__text
							| At the end of 2020, our partners will launch a service to deposit and resell intellectual property rights
				div(data-aos="fade-up" data-aos-delay="400")
					.roadmap__item.roadmap__item--6
						.roadmap__year
							| 2022
						.title.title--md.roadmap__subtitle
							| Q2
						.roadmap__text
							| Before launching the marketplace, we plan to increase the tools for developing decentralized applications
				div(data-aos="fade-up" data-aos-delay="450")
					.roadmap__item.roadmap__item--7
						.roadmap__year
							| 2022
						.title.title--md.roadmap__subtitle
							| Q1
						.roadmap__text
							span
								| •
							| 	Failover cluster
							br
							span
								| •
							| 	Chinese cryptography support
				.roadmap__item.roadmap__item--hide.for-desktop
				div(data-aos="fade-up" data-aos-delay="500")
					.roadmap__item.roadmap__item--8
						.roadmap__year
							| 2022
						.title.title--md.roadmap__subtitle
							| Q4
						.roadmap__text
							| At the end of 2020, the team plans to release an update for the platform, enabling sidechains to run on the new consensus algorithm — CFT (Crash Fault Tolerant). We will tell more about this algorithm and its specifics after the release.
				div(data-aos="fade-up" data-aos-delay="550")
					.roadmap__item.roadmap__item--9
						.roadmap__year
							| 2023
						.title.title--md.roadmap__subtitle
							| Q1
						.roadmap__text
							span
								| •
							| 	Sharding beta version
							br
							span
								| •
							| 	Performance optimization
							br
							span
								| •
							| 	Sharding 1.0
							br
							span
								| •
							| 	Interoperability
							br
							span
								| •
							| 	Smart contract SDK
				.roadmap__item.roadmap__item--button(data-aos="fade-up" data-aos-delay="600")
					a.roadmap__link.link.link--md(href="")
						| Join us

