section.section.section--1
	.section__container.section__container--info
		.info
			.info__block(data-aos="fade-left" data-aos-delay="100")
				.info__block-title.title.title--md
					| Easy to use easy to develop
				.info__block-description.text.text--md
					| Developers can use any programming language through a convenient API and SDK
				a.info__block-link.link.link--md.js-to-anchor(href="#banner")
					| Check It Out

			//.info__video(data-aos="fade-right" data-aos-delay="100")
			//	.info__container
			//		video.video-js(
			//			controls
			//			data-name="Name"
			//			data-setup="{ \"techOrder\": [\"youtube\"], \"sources\": [{ \"type\": \"video/youtube\", \"src\": \"https://youtu.be/1ZYbU82GVz4\"}] }"
			//		)
			//		.info__intro
			//			.info__intro-logo.title.title--md.title--white
			//				| Meet
			//				span.line
			//					span.texts
			//						| Globo
			//			.info__intro-text.text.text--md.text--white
			//				| A self-learning neural network that stores a complete history of events that have occurred within itself
			//			.info__intro-play
			//				+svg('play')
			//	.info__video-blocks
			//		.info__video-block.info__video-block--1
			//			span
			//				+svg('bolt')
			//			| Fast
			//		.info__video-block.info__video-block--2
			//			span
			//				+svg('card')
			//			| Cheap
			//		.info__video-block.info__video-block--3
			//			span
			//				+svg('shield')
			//			| Safe
